body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  
}

body {
  user-select: none;
  background: white;
  box-sizing: border-box;
}

.main__logo {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 26%;
  right: 0px;
}

.loading {
  color: tomato;
}
h1,h2,h3  {
  font-family: 'Montserrat';
  font-weight: 700;
}
p {
  font-family: 'Montserrat';
}
a {
  font-family: 'Montserrat';
}
li {
  font-family: 'Montserrat';
}