.home {
    width: 100%;
    height: 100%;
}
video {
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 100%, 100% 100%, 76% 40%, 31% 85%, 30% 16%, 79% 56%);
}

/* clip-path: polygon(100% 0,100% 0,100% 100%,0 100%,0 46%,0 0,100% 0,60% 83%,51% 3%,44% 3%,48% 49%,43% 97%,51% 97%,57% 46%); */

canvas {
    width: 100% !important;
    height: 100vh !important;
}
.home__meshline {
    position: absolute;
    z-index: 1;
    width: 80%;
    clip-path: polygon(29% 15%, 31% 87%, 91% 46%);
}

.company__text {
    margin-left: 20%;
}

.company__text p span {
    font-size: 17px;
    font-weight: 700;
    margin-right: 7px;
}
.about__list ul {
    padding: 0;
    margin: 0;
}

.about__list ul li {
    list-style: none;
    margin-bottom: 5px;
}
.home__moilemenu {
    position: absolute;
    z-index: 99;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .home .navmenu {
        display: none;
    }
    .home .home__meshline {
        display: none;
    }
    .home__moilemenu {
        display: block;
    }
    .home__moilemenu a {
        color: #fff !important;
        font-size: 48px !important;
    }
}